doctype html
html
  head
    title= '日志监控'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/index.js')
    meta(charset="utf-8")
  body
    div(align="center")
      h2 #{msg}
      br
      form(id="loginForm" method="post" action="/login")
        input(type="text" id ="uid" name="uid" size="30" maxlength="11" placeholder="请输入uid" value='100')
        br
        br
        input(type="button" value="清空" size="30" onclick="onClearHandler()" )
        b &nbsp;&nbsp;&nbsp;&nbsp;
        input(type="button" value="确认" size="30" onclick="onLoginHandler()" )


